<% layout('layouts/boilerplate') %> <!--if everything goes well everything below this line will be passed to our boiler plate template as body.-->
<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
  <% for (let campground of campgrounds){ %>
  <li>
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
  </li>
  <% } %>
</ul>
